<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.SuceDemo.Practice.Practice2"/>
      <class name="com.SuceDemo.TestClasses2.TC02LogOutFunctionality"/>
      <class name="com.SuceDemo.TestClasses2.TC05MultipleProductAddToCartFunctionality"/>
      <class name="com.SuceDemo.TestClasses2.TC01LoginFunctionality3"/>
      <class name="com.SuceDemo.TestClasses2.TC01LoginFunctionality02"/>
      <class name="com.SuceDemo.Practice.practice3"/>
      <class name="com.SuceDemo.Practice.TestBaseClass"/>
      <class name="com.SuceDemo.Practice.VTestBaseClass2"/>
      <class name="com.SuceDemo.TestClasses2.TC03AddToSingleProduct"/>
      <class name="com.SuceDemo.Practice.TestCase5"/>
      <class name="com.SuceDemo.Practice.TestCase6"/>
      <class name="com.SuceDemo.TestClasses2.TC04VerifyWeAbleToBuyProduct"/>
      <class name="com.SuceDemo.Practice.Practice1"/>
      <class name="com.SuceDemo.TestClasses2.TestBaseClass2"/>
      <class name="com.SuceDemo.Practice.TestCase1"/>
      <class name="com.SuceDemo.TestClasses2.TC06VerifyWeAbleToProceedForCheckouts"/>
      <class name="com.SuceDemo.Practice.TestCase2"/>
      <class name="com.SuceDemo.Practice.TestCase3"/>
      <class name="com.SuceDemo.Practice.TestCase4"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
